<div class="container">
  <div class="user-detail">
    <div class="box has-background-link has-text-white" *ngIf="user">{{user.username}}</div>
    <div class="box" *ngIf="user">
      <p>Balance: {{user.balance}}</p>
      <p>Team Points: {{user.teamPoints}}</p>
      <p>Status: {{user.active}}</p>
      <p>Joining Date: {{user.joined | date}}</p>
     

      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <button class="button is-danger" (click)="award(user.address, '1000')">Award Coins</button>
        </p>
        <p class="control">
          <button class="button is-light" (click)="activate(user._id)" *ngIf="!user.active">
           activate
          </button>
        </p>
        <!-- <p class="control">
          <button class="button is-light" (click)="makeAdmin(user._id)">
           makeadmin
          </button>
        </p> -->
      </div>
    </div>
 
  </div>
</div>
